.btn {
   width:250px;
   height: 76px;
   padding: 0%;
   margin-right: 30px;
   /* height: 3rem;
   font-size: 1.2rem;
   padding: 0.5rem 2rem;
   font-weight: 200;
   text-transform: uppercase;
   display: flex;
   justify-content: center;
   align-items: center; */
   /* color: none; */
}

.add {
   height: 76px;
   width: 250px;
   margin-right: 20px;
   /* font-size: 1.2rem; */
   /* padding: 0.5rem 2rem; */
   /* font-weight: 200; */
   /* text-transform: uppercase;
   display: flex;
   justify-content: center;
   align-items: center; */
}

/* .image {
   width: 1.5rem;
   height: 1.5rem;
   margin-right: 0.5rem;
   padding-bottom: 0.3rem;
} */

@media  screen and (max-width:768px ){/*平板排版*/
   .btn {
      width:199px;
      height: 60px;
      padding: 0%;
      margin-right: 30px;
   }

}


@media  screen and (max-width:390px ){/*平板排版*/
   .btn {
      width:50%!important ;
      height: 60px;
      padding: 0%;
      margin-right: 5px;
   }

}