@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Share+Tech+Mono&display=swap');

.all{
   justify-content: space-between;
}

.productsell{
   display: flex;
   justify-content: space-between;
}

.image {
   width: 386px;
   height: 386px;
   margin-left: 5px;
   margin-top: 10px;
   /* object-fit: cover;
   object-position: center; */
}

.info {
   padding: 0 3rem;
}

.free{
   margin-bottom: 2rem;
}

.category {
   opacity: 1;
   margin-bottom: 0.2rem;
   background-color:#F7D4E0;
   padding: 5px;
   border-radius: 5px;
}

.name {
   margin-bottom: 0.5rem;
   font-size: 1.5rem;
}

.typebtn{
    display: flex;
}

.type{
 width: 120px;
 height:76px;
 margin-right: 20px;
}


.description {
   opacity: 1;
   color: #702FB1;
   font-size: 1rem;
   margin-left: 20px;
   margin-top: 2rem;
   margin-bottom: 1rem;
   /* text-indent: 0rem; */
   /* text-align: justify; */
}

.departLineShort{
   height: 2px;
   width:100%;
   margin-bottom: 20px;
   background-color: #DB497E;
}



.cd{
   display: flex;
   flex-direction: column;
   width: 40px;
   margin-right: 20px;
   margin-bottom: 20px;
   align-items: center;
}

.introtitle{
   display: flex;
   /* flex-direction: column; */
   color: #DB497E;
   font-size: 20px;
   font-weight: bold;
}

.video{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 70%;
  /* height: 70%; */
}



.simtitle{
   color: #DB497E;
   font-size: 18px;
   font-weight: bold;
   margin-top: 20px;
   margin-left: 115px;
}

.pd{
   color: #702FB1;
   font-size: 1.22rem;
   margin-left: 115px;
}
.pd2{
   color: #702FB1;
   font-size: 1.22rem;
   margin-left: 115px;
   margin-top: 10px;
}

.songlist{
   color: #DB497E;
   font-size: 18px;
   font-weight: bold;
   margin-top: 30px;
   margin-left: 120px;
}


.wrap {
   display: flex;
   flex-direction: column;
}

.price {
   font-size: 2.5rem;
   font-family: Share Tech Mono;
   margin-bottom: 0px;
}

.typeword{
   margin-bottom: 60px;

}

.block{
   display: flex;
   width: 250px;
   border: 0.5px #702FB1 solid ;
   justify-content: space-between;
   border-radius: 5px;
   /* margin-top: 40px; */
   margin-bottom: 20px;
}


.numbtn1{
   width: 76px;
   height: 69px;
   background-color: #702FB1;
   color:rgb(255, 255, 255);
   text-align: center;
   font-size: 30px;
   border:0;
   border: 0.5px #702FB1 solid ; 
   border-radius: 0px 5px 5px 0px;
   /* padding-top: 1px; */
}

.numbtn1:hover{
   background-color: #9987E0;
   color:rgb(255, 255, 255);
   cursor: pointer;
}

.numbtn1:active{
   background-color: #7563BD;
   color:rgb(255, 255, 255);
}


.numbtn2{
   width: 76px;
   height: 69px;
   color:#702FB1;
   /*border-color: #702FB1;
   border-width:2px; */
   border: 0.5px #702FB1 solid ;
   background-color: rgb(255, 255, 255);
   text-align: center;
   font-size: 30px;
   font-weight: bold;
   border-radius: 5px 0px 0px 5px;
   padding-top: 5px;
}

.numbtn2:hover{
   background-color: #9987E0;
   color:rgb(255, 255, 255);
   cursor: pointer;
}

.numbtn2:active{
   background-color: #7563BD;
   color:rgb(255, 255, 255);
}

.numtitle{
   color:#702FB1;
   margin-top: 20px;
}

.num{
   margin: auto;
   font-size: 20px;
   font-family: Share Tech Mono;
   font-weight: 500;
   color:#702FB1;
}

.tdata{
   width:320px;
   height:80px;
   margin-top:40px;
}

.smallpic{
   width: 390px;
}

.smpic{
 width:76px;
 margin-top: 20px;
 margin-left: 10px; 
 margin-right: 10px;
}

.arrowL{
 margin-left: 5px;
 margin-top: 20px;
}
.arrowR{
   margin-top: 20px;
   margin-left:133px;
}


@media  screen and (max-width:1000px ){/*平板排版2*/
   .productsell{
      display: table-column;
      justify-content: space-between;
   }
   .info {
      padding: 0 5.5rem;
   }
   .image {
      width: 500px;
      height: 500px;
      margin-left: 100px;
      margin-top: 30px;
      /* object-fit: cover;
      object-position: center; */
   }
   .smallpic{
      width: 500px;
      margin-left: 100px;
   }
   .smpic{
      width:76px;
      margin-top: 20px;
      margin-left: 10px; 
      margin-right: 10px;
     }
     
     .arrowL{
      margin-left: 2px;
      margin-top: 20px;
     }
     .arrowR{
        margin-top: 20px;
        margin: left 2em;
     }
     .name {
      margin-bottom: 0.5rem;
      font-size: 1.9rem;
      margin-left: 15px;
     }
    .price {
      font-size: 3.0rem;
      font-family: Share Tech Mono;
      margin-bottom: 0px;
      margin-left: 15px;
    }
    .category {
      opacity: 1;
      margin-bottom: 0.2rem;
      background-color:#F7D4E0;
      padding: 10px;
      border-radius: 5px;
      margin-left: 15px;
      font-size: 16px;
   }
   .typeword{
      margin-bottom: 50px;
      margin-left: 15px;
   }
   .numtitle{
      margin-left: 15px;
   }
   .addbtn{
      margin-left: 15px;
   }
   .tdata{
      margin-left: 15px;
   }
   .simtitle{
      margin-top: 20px;
      margin-left: 30px;
   }
   .pd{
      color: #702FB1;
      font-size: 1.15rem;
      margin-left: 30px;
   }
   .pd2{
      color: #702FB1;
      font-size: 1.15rem;
      margin-left: 30px;
      margin-top: 10px;
   }
   
   .songlist{
      color: #DB497E;
      font-size: 18px;
      font-weight: bold;
      margin-top: 30px;
      margin-left: 30px;
   }
 }

 @media  screen and (max-width:768px ){/*平板排版*/
   .productsell{
      display: table-column;
      justify-content: space-between;
   }
   .info {
      padding: 0 5.5rem;
   }
   .image {
      width: 500px;
      height: 500px;
      margin-left: 100px;
      margin-top: 30px;
      /* object-fit: cover;
      object-position: center; */
   }
   .smallpic{
      width: 500px;
      margin-left: 100px;
   }
   .smpic{
      width:76px;
      margin-top: 20px;
      margin-left: 10px; 
      margin-right: 10px;
     }
     
     .arrowL{
      margin-left: 2px;
      margin-top: 20px;
     }
     .arrowR{
        margin-top: 20px;
        margin-left:240px;
     }
     .name {
      margin-bottom: 0.5rem;
      font-size: 1.9rem;
      margin-left: 15px;
     }
    .price {
      font-size: 3.0rem;
      font-family: Share Tech Mono;
      margin-bottom: 0px;
      margin-left: 15px;
    }
    .category {
      opacity: 1;
      margin-bottom: 0.2rem;
      background-color:#F7D4E0;
      padding: 10px;
      border-radius: 5px;
      margin-left: 15px;
      font-size: 16px;
   }
   .typeword{
      margin-bottom: 50px;
      margin-left: 15px;
   }
   .numtitle{
      margin-left: 15px;
   }
   .addbtn{
      margin-left: 15px;
   }
   .tdata{
      margin-left: 15px;
   }
   .simtitle{
      margin-top: 20px;
      margin-left: 30px;
   }
   .pd{
      color: #702FB1;
      font-size: 1.15rem;
      margin-left: 30px;
   }
   .pd2{
      color: #702FB1;
      font-size: 1.15rem;
      margin-left: 30px;
      margin-top: 10px;
   }
   
   .songlist{
      color: #DB497E;
      font-size: 18px;
      font-weight: bold;
      margin-top: 30px;
      margin-left: 30px;
   }
 }


 @media  screen and (max-width:580px ){
   .productsell{
      display: table-column;
      justify-content: space-between;
   }
   .info {
      padding: 0 5.5rem;
   }
   .image {
      width: 82%;
      height: 82%;
      /* margin-left: 100px;
      margin-top: 30px; */
      /* object-fit: cover;
      object-position: center; */
   }
   .smallpic{
      width: 500px;
      margin-left: 100px;
   }
   .smpic{
      width:76px;
      margin-top: 20px;
      margin-left: 10px; 
      margin-right: 10px;
     }
     
     .arrowL{
      margin-left: 2px;
      margin-top: 20px;
     }
     .arrowR{
        margin-top: 20px;
        margin: left 2.5em;
     }
     .name {
      margin-bottom: 0.5rem;
      font-size: 1.9rem;
      margin-left: 15px;
     }
    .price {
      font-size: 3.0rem;
      font-family: Share Tech Mono;
      margin-bottom: 0px;
      margin-left: 15px;
    }
    .category {
      opacity: 1;
      margin-bottom: 0.2rem;
      background-color:#F7D4E0;
      padding: 10px;
      border-radius: 5px;
      margin-left: 15px;
      font-size: 16px;
   }
   .typeword{
      margin-bottom: 50px;
      margin-left: 15px;
   }
   .numtitle{
      margin-left: 15px;
   }
   .addbtn{
      margin-left: 15px;
   }
   .tdata{
      margin-left: 15px;
   }
   .simtitle{
      margin-top: 20px;
      margin-left: 30px;
   }
   .pd{
      color: #8E71AC;
      font-size: 1.15rem;
      margin-left: 30px;
   }
   .pd2{
      color: #8E71AC;
      font-size: 1.15rem;
      margin-left: 30px;
      margin-top: 10px;
   }
   
   .songlist{
      color: #DB497E;
      font-size: 18px;
      font-weight: bold;
      margin-top: 30px;
      margin-left: 30px;
   }
 }




 @media  screen and (max-width:390px ){

   .arrowR{
      margin-top: 20px;
      margin-left: 200px;
   }
   .addbtn{
      width: 100vw;
   }
}