.image {
   width: 400px;
   height: 400px;
   margin-left: 10px;
   /* object-fit: cover;
   object-position: center; */
}

.info {
   padding: 0 1.2rem;
}

.free{
   margin-bottom: 2rem;
}

.category {
   opacity: 1;
   margin-bottom: 0.2rem;
   background-color:#F7D4E0;
   padding: 5px;
   border-radius: 5px;
}

.name {
   margin-bottom: 0.5rem;
   font-size: 1.5rem;
}


.description {
   opacity: 1;
   color: #702FB1;
   font-size: 1rem;
   margin-left: 20px;
   margin-top: 2rem;
   margin-bottom: 1rem;
   /* text-indent: 0rem; */
   /* text-align: justify; */
}

.departLineShort{
   height: 2px;
   width:100%;
   margin-bottom: 20px;
   background-color: #DB497E;
}



.cd{
   display: flex;
   flex-direction: column;
   width: 40px;
   margin-right: 20px;
   margin-bottom: 20px;
   align-items: center;
}

.introtitle{
   display: flex;
   /* flex-direction: column; */
   color: #DB497E;
   font-size: 20px;
   font-weight: bold;
}

.video{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 70%;
  /* height: 70%; */
}



.simtitle{
   color: #DB497E;
   font-size: 18px;
   font-weight: bold;
   margin-top: 20px;
   margin-left: 60px;
}

.pd{
   color: #702FB1;
   font-size: 1rem;
   margin-left: 60px;
}

.songlist{
   color: #DB497E;
   font-size: 18px;
   font-weight: bold;
   margin-top: 30px;
   margin-left: 60px;
}




.wrap {
   display: flex;
   flex-direction: column;
}

.price {
   font-size: 1.5rem;
}
