.header {
  /* text-align: left; */
  display: flex;
  /* height:inherit; */
  justify-content: space-between; 
  align-items:center; 
}

.logo{
  margin-top:20px;
  margin-bottom:20px;
  height: 100px;
  width:142px;
}

.navContentLeft{
  display:flex;
  align-self: end;
  margin-bottom: 20px;
}

.navItems{
  color:#DB497E;
  font-weight: bold;
  margin-left:30px;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

.navItems:hover{
  color:#F5B3CB;
  font-weight: bold;
  margin-left:30px;
  font-size: 20px;
}

.line{
  width:100%;
}



@media (min-width: 768px) {
  .headerTitle {
    font-size: 1.8rem;
  }
}


.iconWrap {
  position: absolute;
  right: 0rem;
  top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 2.5rem);
}

@media (min-width: 768px) {
  .iconWrap {
    right: 6rem;
    top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 4rem);
  }
}

@media (min-width: 768px) {
  .navBar {
    display: flex;
  }
  .drawer {
    display: none;
  }

  .navItem {
    color: white;
    font-size: 20px;
    margin-bottom: 0;
    margin-left: 0;
    text-align: center;
  }
  .navItem:hover {
    color: white;
  }
}