@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Share+Tech&display=swap');

.item {
   /* border-radius: 1%;
   border: solid gray 1px; */
   margin-left: 25px;
   margin-right: 25px;
   margin-bottom: 50px;
   text-align: start;
   /* align-items: center; */
}

.info {
   padding: 0rem;
}

.category {
   opacity: 0.4;
   margin-bottom: 0.2rem;
}

.name {
   font-size: 20px;
   margin-bottom: 2rem;
   height: 79px;
   transition: all 0.5s ease-in-out;
}

.name:hover{
   color: #F5B3CB;
}



.description {
   opacity: 0.6;
   margin-bottom: 1rem;
}

.link {
   text-decoration: none;
   align-self: center;
   color: #8183ff;
}

.textGray {
   font-family: Share Tech; 
   opacity: 1;
   font-size: 26px;
   text-align: start;
}

.icon{
    padding-left: 12px; 
   width: 3.0rem;
   height: 3.0rem;

}

.icon:hover{
   /* opacity: 0.6; */
   color: #F5B3CB;
}

.icon2{
   padding-left: 12px; 
  width: 3.0rem;
  height: 3.0rem;

}

.icon2:hover{
  /* opacity: 0.6; */
  color: #F5B3CB;
}

.icon2:active{
   /* opacity: 0.6; */
   color: #F5B3CB;
   background-image: url();
 }

.more{
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   padding-left:0px;
}

