@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Share+Tech+Mono&display=swap');


/* body{
    margin:0px;
}消除系統原本自帶的top margin */
article{
    width:100%;
}
a{
    text-decoration: none;
    color:#702FB1;

}
ul{
    list-style-type: none;
    position:0;
}
p{
    font-family: Roboto;
    font-size:26;
}

.container{
    margin:0px;
    width: 100%;
  }


/*中間的內容開始*/

.HomeItems{
    margin:0px;
    text-align: center;
}
.btn {
    width:52px;
    padding: 0%;
    /* margin-right: 30px; */
    position: absolute;
    top: 55%;
    /* right: -30px!important; */
    left:50px ;
    z-index: 10 ;
    transform: translateY(-50%);
    margin: 1rem;
 }

 .btn2{
    width:52px;
    padding: 0%;
    /* margin-right: 30px; */
    position: absolute ;
    top: 55% ;
    /* right: -30px!important; */
    right:50px;
    z-index: 10;
    transform: translateY(-50%);
    margin: 1rem;
 }
 
 .add {
    height: 114px;
    width: 52px;
    margin-right: 20px;
 }

.controlsvisiblelabel{

    color:#DB497E;
}

.contentstyle{
    height: 525px;
    color: #fff;
    line-height: 530px;
    text-Align: center;
    background: #DB497E;
    margin-bottom: 0px;
}

.control{
    height: 498px;
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}


.radio{
    margin-bottom: 50px;
}


.artiTitle{
    font-weight: bold;
    color:#DB497E;
    font-size: 30px;
}
.departLine{
    height: 2px;
    background-color: #DB497E;
}
.musicTrend{
    height: 500px;
    display: flex;
    justify-content:center;
    padding:30px;
}
.mtWrapper{
    width:320px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin:30px;

}
.mtPic{
    width:320px;
}
.mtContext{
    margin-top: 10px;
    background-color:#FCF4F7;
    height:200px;
    padding:10px;
    color:#702FB1;
    text-align: start;
    display:flex;
    flex-direction:column;
    justify-content: space-around;

}
.mtTitle{
    font-size: 20px;
    margin:0px;
    font-weight: bold;
    text-align: start;
    transition: all 0.5s ease-in-out;
}

.mtTitle:hover{
   color:#9987E0;
}

.moreButton{
    height:30px;
    position:relative;
    margin-left: 200px;
}

.songRank{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 380px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color:#FCF4F7;
}
.srWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.srWrapper p{
    margin:0px;
}
.srRank{
    font-family: Share Tech Mono;
    color:#DB497E;
    font-size: 30px;
}
.srPic{
    margin:10px;
}
.srContext{
    font-family: Share Tech Mono;
    display:flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
}

.srTitle{
    font-size: 20px;
}

.newArrival{
    margin:0px 80px 80px;
    height:fit-content;
    
}
.naList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.naWrapper{
    width: 200px;
    padding-left: 80px;
    padding-right:80px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.naContext{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:10px;
}
.naContext div{
    display:flex;
    align-items:center;
    width: 60px;
    justify-content: space-around;
}
.naPic{
    margin-bottom:10px;
}
.naContext img{
    height:20px;
}
.naTitle{
    color: #DB497E;
    display:flex;
    text-align: start;
}
.naPrice{
    color:#702FB1;
}



.Newest{
    margin-top: 50px;
    margin-bottom: 50px;
    /* text-align: start; */
}

.moreLong{
    width: 80%;
    /* margin-bottom: 100px;  */
    display: flex;
    margin: 0rem 9rem 9rem 9rem;
    /* margin-bottom: 100px; */
    /* background: url(images/moreLong.png) top left no-repeat;   */
}



.hover {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0rem 9rem 9rem 9rem;
}


.hover img {
  position:absolute;
  width: 80%;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.hover img:nth-of-type(2):hover{
    opacity:0;
}


@media  screen and (max-width:1600px ){
    
    .musicTrend{
        padding: 30px 0;
        flex-wrap:wrap;
        height:fit-content;
        align-items: center;
    }
    .songRank{
        flex-direction: row;
        height:fit-content;
    }
    .moreLong{
        width:calc(100% - 40px);
    }
    /* .control{
        width:100vw;
    } */

}

@media  screen and (max-width:768px){
    
    .musicTrend{
        padding: 30px 0;
        flex-wrap:wrap;
        height:fit-content;
        align-items: center;
        flex-direction: column;
    }
    .songRank{
        flex-direction: column;
        height:fit-content;
    }
    .srButton{
        display:none;
    }
    .moreLong{
        width:calc(100% - 40px);
    }
    
    .btn {
        width:31px;
        padding: 0%;
        position: absolute;
        top: 55%;
        left:10px ;
        z-index: 10 ;
        transform: translateY(-50%);
        margin: 1rem;
        display: none;
     }
    
     .btn2{
        /* width:31px;
        padding: 0%;
        position: absolute ;
        top: 55% ;
        right:10px;
        z-index: 10;
        transform: translateY(-50%);
        margin: 1rem; */
        display: none;
     }
     
     .add {
        height: 67px;
        width: 31px;
     }
     .control{
        /* padding-top:100px; */
        /* height:calc(45vw + 80px); */
        height:320px;
        width:100%;
        
    }
}

/*RWD開始*/
@media  screen and (max-width:570px ){
    .container{
        display:none;
    }
}